@inject CedulasEvaluacion.Services.ServiceModulos das;
@{
    List<CedulasEvaluacion.Entities.Login.ResponsablesDAS> responsables = await das.GetResponsablesDAS();

    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
    ViewData["Title"] = "Iniciar Sesión";
}


<div class="snowflakes">
    <div class="snowflake">
        💀
    </div>
    <div class="snowflake">
        🏵️
    </div>
    <div class="snowflake">
        🕯️
    </div>
    <div class="snowflake">
        🏵️
    </div>
    <div class="snowflake">
        💀
    </div>
    <div class="snowflake">
        🕯️
    </div>
    <div class="snowflake">
        🏵️
    </div>
    <div class="snowflake">
        💀
    </div>
    <div class="snowflake">
        🏵️
    </div>
    <div class="snowflake">
        🕯️
    </div>
    <div class="snowflake">
        💀
    </div>
    <div class="snowflake">
        💀
    </div>
    <div class="snowflake">
        🏵️
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 mt-2">
            <img src="~/img/logo_colorOAJ.png" alt="" height="80" class="ml-5">
        </div>
        <div class="col-lg-8 mt-5 ml-5 text-right">
            <div class="fecha-hora">
                <span class="fecha">@DateTime.Now.ToString("D", @System.Globalization.CultureInfo.CreateSpecificCulture("es"))</span>
                <span class="hora"><i class="fal fa-clock-desk ml-2"></i> <span id="reloj"></span></span> 💀🏵️
            </div>
        </div>
    </div>
    <hr style="background-color: #24135f; font-weight: bold;" />


    <div class="col-lg-12 mt-1 contenedorTitulo">
        @*NOMBRE DEL SISTEMA EFECTO*@

        <button class="button" data-text="Awesome" disabled>
            <span class="actual-text">&nbsp;CASESG&nbsp;</span>

            <span aria-hidden="true" class="hover-text">&nbsp;CASESG&nbsp;</span>

        </button>
        @*NOMBRE DEL SISTEMA EFECTO FIN*@

        <h5 class="font-weight-bold text-center" style="color: #24135f;">Sistema para el Registro de Cédulas Automatizadas de Supervisión y Evaluación de Servicios Generales</h5>
    </div>


    <div class="row col-lg-12 contenedorUsuario">
        <div class="col-lg-6 mt-5">
            <div class="row mb-3 ml-4 col-lg-12 float-left">
                @if (!string.IsNullOrEmpty(error))
                {
                    <h5 class="text-danger" style="padding: 20px;">@error</h5>
                }
            </div>
            <form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                <div class="input-group mr-1 mb-3 col-lg-8 float-right">
                    <input type="text" class="form-control" name="username" placeholder="u + número de expediente" id="usr_expediente">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fal fa-user-circle"></span>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-12"></div>
                <div class="input-group mr-1 mb-3 col-lg-8 float-right">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" id="usr_password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fal fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3 mr-1 col-lg-4 float-right">
                    <button type="submit" class="btn btn-cjf btn-block" id="iniciar_sesion">Iniciar Sesión</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 mt-5 text-justify contenedorInfo">
            Para capturar el usuario, recuerde colocar la letra “u” antes de su número de expediente.<BR />
            Ejemplo: u + 56, el usuario será: u56
            <div class="mt-2">
                <a href="/home/download/casesg2" class="btn btn-sm btn-cjf"><i class="fa-light fa-circle-question mr-2"></i>Descargar Guía de Usuario</a>
                <a href="#" class="btn btn-sm btn-cjf " id="mdl_horarios"><i class="fa-regular fa-user-clock mr-2"></i>Horarios de Atención</a>
            </div>
        </div>
    </div>
</div>
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
    </div>
</aside>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color: #24135f; color: white; ">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3" style="background-color: #24135f; color: white;">
                <!-- Content -->
                <h5 class="font-weight-bold">Edificio Sede</h5>
                <p class="contact-info">
                    <i class="fad fa-building"></i>
                    &nbsp;&nbsp;Edificio Sede Insurgentes Sur 2417
                    San Ángel. Álvaro Obregón <br />
                </p>
                <p class="contact-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C.P. 01000, Ciudad de México</p>
                <p class="contact-info"><i class="fad fa-phone"></i>&nbsp; +52 (55) 5490-8000</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3" style="background-color: #24135f; color: white; ">
                <!-- Content -->
                <h5 class="font-weight-bold">¿Problemas con el sistema?</h5>
                <p class="contact-info"><i class="fad fa-user"></i>&nbsp; Ing. Christian Otero García</p>
                <p class="contact-info"><i class="fad fa-envelope-open-text"></i>&nbsp; coterog@cjf.gob.mx</p>
                <p class="contact-info"><i class="fad fa-phone"></i>&nbsp; Ext. 2574, Red nacional #318-2574</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->
    <!-- Copyright -->
    <div class="page-footer text-center py-3" style="background-color: #24135f; color: white; font-weight: bold; ">
        <div class="footer d-flex justify-content-between align-items-center">
            <div class="text-center">
                <p>Poder Judicial de la Federación</p>
            </div>
            <div class="text-center">
                <p>Órgano de Administración Judicial - Dirección General de Servicios Generales</p>
            </div>
            <div class="text-center">
                <p>Versión 2.5 - 2025</p>
            </div>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
@* Modal para la ver Adjuntos *@
<div class="modal fade" id="modal_horarios">
    <div class="modal-dialog modal-xl" style="max-width: 1350px!important;">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Horarios de Atención - DAS</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="horarios_user">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Servicio(s)</th>
                            <th>Encargado</th>
                            <th>Correo</th>
                            <th>Extensión</th>
                            <th>Horario de Atención</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rs in responsables)
                        {
                            <tr>
                                <td>@rs.Id</td>
                                @if (@rs.Servicios.Equals(""))
                                {
                                    <td>@rs.Puesto</td>
                                }
                                else
                                {
                                    <td>@rs.Servicios</td>
                                }
                                <td>@rs.Nombre</td>
                                <td>@rs.Email</td>
                                <td>@rs.Extension</td>
                                <td>@rs.Horario</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para ver Adjuntos*@

<style>

    .contenedorTitulo {
        transform: translate(0%, -25%)
    }

    .contenedorUsuario {
        transform: translate(0%, -35%)
    }

    .contenedorInfo {
        transform: translate(0%, 7%)
    }

    .contact-info {
        margin-top: -6px; /* Ajusta el valor según sea necesario */
    }

    .contact-info2 {
        margin-top: -100px; /* Ajusta el valor según sea necesario */
    }

    .text-center1 {
        transform: translate(20%, 0%);
    }

    .footer {
        margin-top: auto;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
    }

    .fecha-hora {
        font-family: Arial, sans-serif;
        font-size: 18px;
        color: #24135f;
    }

    .fecha {
        font-weight: bold;
    }

    .hora {
        color: #24135f;
        font-size: 20px;
    }

    .button {
        margin: 0;
        height: auto;
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    /* button styling */
    .button {
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 10%);
        --border-right: 0px;
        --text-stroke-color: #24135f;
        --animation-color: #24135f;
        --fs-size: 8em;
        letter-spacing: 0px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: Georgia;
        position: relative;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
    }
    /* this is the text, when you hover on button */
    .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.8s;
        -webkit-text-stroke: 1px var(--animation-color);
    }
    /* hover */
    .button:hover .hover-text {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color))
    }

    .form-control {
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
        position: relative;
    }

        .form-control:valid {
            border-color: #24135f;
            box-shadow: 0.2px 0.2px 1px -10px #ff7700;
        }

        .form-control:invalid {
            border-color: rgb(0 0 0);
            color: rgb(0 0 0);
            box-shadow: 1px 1px 1px -10px #000000;
            /* translate: -8px 8px 0px 0px; */
        }

    .text {
        margin-top: 10px;
        color: black;
    }


    .loader {
        position: relative;
        pointer-events: none;
    }

        .loader span {
            position: absolute;
            color: #fff;
            font-size: 100px;
            font-family: "Leelawadee UI";
            letter-spacing: 0px;
        }

            .loader span:nth-child(1) {
                color: transparent;
                -webkit-text-stroke: 1px rgb(0 38 255);
            }

            .loader span:nth-child(2) {
                color: #0d23a1;
                -webkit-text-stroke: 1px rgb(0 0 0);
                animation: uiverse723 4s ease-in-out infinite;
            }

    @@keyframes uiverse723 {
        0%, 100% {
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }

        50% {
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
    }


    .text {
        margin-top: 10px;
        color: black;
    }
</style>

<style>
    /* customizable snowflake styling */
    .snowflake {
        color: #fff;
        font-size: 1em;
        font-family: Serif;
        text-shadow: 0 0 1px #000;
    }

    @@-webkit-keyframes snowflakes-fall {
        0% {
            top: -10%
        }

        100% {
            top: 100%
        }
    }

    @@-webkit-keyframes snowflakes-shake {
        0% {
            -webkit-transform: translateX(0px);
            transform: translateX(0px)
        }

        50% {
            -webkit-transform: translateX(80px);
            transform: translateX(80px)
        }

        100% {
            -webkit-transform: translateX(0px);
            transform: translateX(0px)
        }
    }

    @@keyframes snowflakes-fall {
        0% {
            top: -10%
        }

        100% {
            top: 100%
        }
    }

    @@keyframes snowflakes-shake {
        0% {
            transform: translateX(0px)
        }

        50% {
            transform: translateX(80px)
        }

        100% {
            transform: translateX(0px)
        }
    }

    .snowflake {
        position: fixed;
        top: -10%;
        z-index: 9999;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        -webkit-animation-name: snowflakes-fall,snowflakes-shake;
        -webkit-animation-duration: 10s,3s;
        -webkit-animation-timing-function: linear,ease-in-out;
        -webkit-animation-iteration-count: infinite,infinite;
        -webkit-animation-play-state: running,running;
        animation-name: snowflakes-fall,snowflakes-shake;
        animation-duration: 10s,3s;
        animation-timing-function: linear,ease-in-out;
        animation-iteration-count: infinite,infinite;
        animation-play-state: running,running
    }

        .snowflake:nth-of-type(0) {
            left: 1%;
            -webkit-animation-delay: 0s,0s;
            animation-delay: 0s,0s
        }

        .snowflake:nth-of-type(1) {
            left: 10%;
            -webkit-animation-delay: 1s,1s;
            animation-delay: 1s,1s
        }

        .snowflake:nth-of-type(2) {
            left: 20%;
            -webkit-animation-delay: 6s,.5s;
            animation-delay: 6s,.5s
        }

        .snowflake:nth-of-type(3) {
            left: 30%;
            -webkit-animation-delay: 4s,2s;
            animation-delay: 4s,2s
        }

        .snowflake:nth-of-type(4) {
            left: 40%;
            -webkit-animation-delay: 2s,2s;
            animation-delay: 2s,2s
        }

        .snowflake:nth-of-type(5) {
            left: 50%;
            -webkit-animation-delay: 8s,3s;
            animation-delay: 8s,3s
        }

        .snowflake:nth-of-type(6) {
            left: 60%;
            -webkit-animation-delay: 6s,2s;
            animation-delay: 6s,2s
        }

        .snowflake:nth-of-type(7) {
            left: 70%;
            -webkit-animation-delay: 2s,1s;
            animation-delay: 2s,1s
        }

        .snowflake:nth-of-type(8) {
            left: 80%;
            -webkit-animation-delay: 1s,0s;
            animation-delay: 1s,0s
        }

        .snowflake:nth-of-type(9) {
            left: 90%;
            -webkit-animation-delay: 3s,1s;
            animation delay:3s,1s
        }

        .snowflake:nth-of-type(10)
        /* Demo Purpose Only*/
        .demo {
            font-family: 'Raleway', sans-serif;
            color: #fff;
            display: block;
            margin: 0 auto;
            padding: 15px 0;
            text-align: center;
        }

    .demo a {
        font-family: 'Raleway', sans-serif;
        color: #000;
    }

    .snowflake img {
        height: 40px;
        bottom: 0;
        background-color: #;
        display: block;
    }
</style>

@section Scripts{
    <script>
        $(function () {
            $("#mdl_horarios").click(function () {
                $("#modal_horarios").modal("show");
            });

            $("#horarios_user").DataTable({
                paging: true,
                bLengthChange: false,
                pageLength: 5,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });

            $("#iniciar_sesion").click(function () {
                if ($("#usr_expediente").val() == "" && $("#usr_password").val() == "") {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Iniciar Sesion',
                        'html': 'Favor de capturar su usuario y contraseña que utiliza para ingresar al sistema de nóminas de la institución.'
                    });
                    return false;
                } else if ($("#usr_password").val() == "" && $("#usr_expediente").val() != "") {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Iniciar Sesion',
                        'html': 'Favor de capturar su contraseña que utiliza para ingresar al sistema de nóminas de la institución.'
                    });
                    return false;
                } else if ($("#usr_password").val() != "" && $("#usr_expediente").val() == "") {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Iniciar Sesion',
                        'html': 'Favor de capturar su usuario que utiliza para ingresar al sistema de nóminas de la institución.'
                    });
                    return false;
                } else {

                    return true;
                }
            });
        });


        function actualizarHora() {
            const ahora = new Date();
            const opciones = { hour: 'numeric', minute: '2-digit', second: '2-digit' };
            const horaFormateada = ahora.toLocaleTimeString('es-ES', opciones);
            document.getElementById('reloj').textContent = horaFormateada;
        }

        setInterval(actualizarHora, 1000); // Actualiza cada segundo
        actualizarHora(); // Inicializa el reloj

    </script>
}